<div class="form-contant">
	<form (ngSubmit)="onSubmit()" [formGroup]="form">
	
		<div>
			<div position="floating" class="mb-3">Text Input <span class="danger">*</span></div>
			<input type="text" id="name" class="form-control mb-3" formControlName="textInput" required />
		</div>
		<div
			*ngIf="form.controls['textInput'].invalid && (form.controls['textInput'].dirty || form.controls['textInput'].touched)">
			<span class="danger mb-3">Text input is required and must be less than 200 characters.</span>
		</div>
	
		<div class="mb-3">
			Image Input <span class="danger">*</span>
		</div>
		<div>
			<input type="file" #fileInput (change)="onImageSelected($event)"  class="form-control form-control-lg mb-3" />
			<img [src]="imagePreview" *ngIf="imagePreview" loading="lazy" class="mb-3" />
		</div>
	
		<div class="mb-3">Voice Input <span class="danger">*</span></div>
		<div class="audio-container">
			<button type="button" (click)="startRecording()" class="btn btn-success m-2" *ngIf="!isRecording"> Start Recording  <i class="bi bi-mic"></i>
			</button>
			<button type="button" (click)="stopRecording()" class="btn btn-danger m-2" *ngIf="isRecording"> Stop Recording <i class="bi bi-stop-circle"></i>
			</button>
			<audio controls="" *ngIf="audioUrl" class="m-2">
				<source [src]="sanitize(audioUrl)" type="audio/wav">
			</audio>
			<button type="button" (click)="deleteRecording()" *ngIf="audioUrl" class="btn btn-danger m-2" expand="block">Delete
					Recording <i class="bi bi-basket"></i>
				</button>
		</div>
	
		<div class="submitBtn mt-4">
			<button type="submit" class="btn btn-dark" [disabled]="form.invalid">Submit</button>
		</div>

		<app-toaster-container></app-toaster-container>
	</form>
</div>